
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin:0px;
}

  

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD; ;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 3%;
    justify-content: space-between;
}
.presentacion__contenido {
    width: 615px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: "Krona One", serif;
}
.presentacion__contenido__texto {
    font-size: 24px;
    font-family: "Montserrat", serif;
}
.presentacion__enlaces{
  display: flex;
  justify-content: space-between;
}
.presentacion__enlaces__link {
  width: 190px;
  
 text-align: center;
  background-color: #22D4FD;
  padding: 21.5px 0;
  border-radius: 16px;
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: black
}

  
figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: 20px;
}

img {
  max-width: 100%;
  height: 550px;
}

 


  
  